@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@900&family=Oswald:wght@400;600&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0d0000;
  min-height: 100vh;
}
